<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/assets1/css/main.css?v=3.4}">
    <!-- Google font -->

</head>

<body>
<div id="top-header" th:fragment="topheadder">
    <div class="container">
        <ul class="header-links pull-right">
            <li th:if="${value==true}"><a th:href="@{/userDashboard}" th:text="${name}"> <i class="fa fa-user-o "></i> </a></li>
            <li th:if="${value==true}"><a th:href="@{/logout}" ><i class="fa fa-user-o "></i>Logout</a></li>
            <li th:if="${value==false}"><a th:href="@{/login}" >Login</a></li>
        </ul>
    </div>
</div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a th:href="@{/index}" rel="nofollow">Home</a>
                </div>
                <div class="breadcrumb ml-100">
                    <a th:href="@{/logout}"  rel="nofollow">Logout</a>
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" id="track-orders-tab" th:href="@{/orderTracking}"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>-->
<!--                                        </li>-->
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="page-login-register.html"><i class="fi-rs-sign-out mr-10"></i>Logout</a>-->
<!--                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0"> </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Product</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                                <th>Track Order</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="order:${customerOrderList}">
                                                                <td>
                                                                    <span th:each="orderDetail:${order.orderDetailsList}" th:text="${orderDetail.product.name}"></span>
                                                                </td>
                                                                <td th:text="${order.delivaryDate}"></td>
                                                                <td th:text="${order.orderStatus}"></td>
                                                                <td th:text="${order.totalPrice}"></td>
                                                                <td>
                                                                    <a th:if="${order.orderStatus == 'DELIVERED'}" th:href="@{/return-item/{id}(id = ${order.id})}" class="btn btn-primary">RETURN</a>
                                                                    <a th:if="${order.orderStatus != 'cancel' and order.orderDelivered == false}"
                                                                    th:href="@{/cancle-item/{id}(id = ${order.id})}" class="btn btn-primary">CANCEL</a>
                                                                </td>
                                                                <td>
                                                                    <a th:if="${order.orderStatus != 'pending'}" th:href="@{/orderTracking/{id}(id = ${order.id})}" class="btn btn-primary">Track Order
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id" placeholder="Found in your order confirmation email" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <a th:href="@{/addAddressFromMange}"><button class="btn btn-success mb-2">Add Address </button></a>
                                        <div class="row" th:each="address:${addressList}">
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Billing Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p><strong>[(${address.customer.firstName})]</strong></p>
                                                        <address>Addressline 1 :[(${address.addressLine1})]</address>
                                                        <address>Addressline 2 :[(${address.addressLine2})]</address>
                                                        <p>Country :[(${address.country})]</p>
                                                        <p>State:[(${address.state})]</p>
                                                        <p>Pincode : [(${address.pinCode})]</p>
                                                        <p> Ph :[(${address.phoneNumber})]</p>
                                                        <a th:href="@{/edit-address/{id}(id = ${address.id})}" class="btn btn-success">Edit</a>
                                                        <a th:href="@{/delete-address/{id}(id = ${address.id})}" class="btn btn-danger ml-7">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <p>Already have an account? <a href="page-login-register.html">Log in instead!</a></p>
                                                <form method="post" name="enq">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="name" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="phone">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Display Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="dname" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="email" type="email">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Current Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="password" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="npassword" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="cpassword" type="password">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Vendor JS-->
    <script src="assets1/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets1/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets1/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets1/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets1/js/plugins/slick.js"></script>
    <script src="assets1/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets1/js/plugins/wow.js"></script>
    <script src="assets1/js/plugins/jquery-ui.js"></script>
    <script src="assets1/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets1/js/plugins/magnific-popup.js"></script>
    <script src="assets1/js/plugins/select2.min.js"></script>
    <script src="assets1/js/plugins/waypoints.js"></script>
    <script src="assets1/js/plugins/counterup.js"></script>
    <script src="assets1/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets1/js/plugins/images-loaded.js"></script>
    <script src="assets1/js/plugins/isotope.js"></script>
    <script src="assets1/js/plugins/scrollup.js"></script>
    <script src="assets1/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets1/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="./assets1/js/main.js?v=3.4"></script>
</body>

</html>