<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base::head}">
</head>
<body>
<header th:replace="~{base::mainHeader}">
</header>
<section>

        <div class="container mt-100 ">

            <h3 class="text-center">Customer Wallet Details</h3>

            <div class="text-center">
                <h5 style="margin-bottom: 10px; margin-top: 20px;">Customer Name: [(${wallet.customer.getFirstName()})]</h5>
                <h5 style="margin-bottom: 10px;">Wallet Balance: ₹[(${wallet.balance})]</h5>
            </div>


            <div class="wallet-form" >
                <!--            <h5>Add Amount to Wallet</h5>-->
                <form id="walletForm"  >
                    <label for="amount">Amount to Add:</label>
                    <input type="number" id="amount" name="amount"  min="100" max="99999" placeholder="min-100 to max-99999" required>
                    <button class="btn btn-success" onclick="addWallet()">Add</button>
                </form>
            </div>

            <div class="table-main table-responsive mb-100 mt-25">
                <table class="table" id="walletTable"  >
                    <thead>
                    <tr>
                        <th>Index</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Transaction Status</th>
                        <th>Order ID</th>
                        <th>Transaction Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="walletHistory, index : ${walletHistoryList}">
                        <td  th:text="${index.index + 1}"></td>
                        <td>₹[(${walletHistory.amount})]</td>
                        <td th:text="${walletHistory.type}"></td>
                        <td th:text="${walletHistory.transactionStatus}"></td>
                        <td th:text="${walletHistory.orderId}"></td>
                        <td th:text="${walletHistory.transactionDate}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
</section>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-oP6HI5/wMkOiOi0tMz5R/ujfZkv4KplGjwhO8Hv8f/B6bU3qFqFiq4qijF8OVPm/4" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    function addWallet(event) {
        console.log("The event is");
        console.log(event)
        event.preventDefault();
        console.log("called");
        const amountElement = document.getElementById("amount");
        const cash = amountElement.value;
        console.log(cash);

        walletPayment(cash);
    }

    const walletPayment = (cash) => {

        $.ajax(
            {
                url:'/shop/add-wallet',
                data:JSON.stringify({amount:cash}),
                contentType: 'application/json',
                type:'POST',
                dataType:'json',
                success:function(response){
                    console.log(response)

                    if(response.status === "created"){

                        let walletOptions ={
                            key:'rzp_test_QMWde1wPMCUdjm',
                            amount: response.amount,
                            currency:'INR',
                            name:'MyPhone.in',
                            description:'Wallet Payment',
                            image:'/imgs/theme/logo.png',
                            order_id:response.id,
                            handler:function(response){
                                console.log(response.razorpay_payment_id);
                                console.log(response.razorpay_order_id);
                                console.log(response.razorpay_signature);
                                verifyPayment(response);


                            },
                            prefill: {
                                name:"",
                                email:"",
                                contact:""
                            },
                            notes:{
                                address:"MyPhone.in"
                            },
                            theme:{
                                color: "#3399cc"
                            }
                        };
                        let rzp = new Razorpay(walletOptions);

                        rzp.on('payment.failed', function (response){
                            console.log(response.error.code);
                            console.log(response.error.description);
                            console.log(response.error.source);
                            console.log(response.error.step);
                            console.log(response.error.reason);
                            console.log(response.error.metadata.order_id);
                            console.log(response.error.metadata.payment_id);
                        });

                        rzp.open();
                    }
                },
                error:function(error){
                    console.log(error)
                    alert("something went wrong")
                }
            }
        )

        function verifyPayment(payment){
            $.ajax({
                url:'/shop/verify-wallet',
                method: 'post',
                data:JSON.stringify(payment),
                contentType: 'application/json',
                dataType:'json',
                success:(response)=>{
                    if(response.status){
                        alert("congrats!! Money Added to the Wallet");
                        location.href='/shop/addCash'
                    } else{
                        alert("Payment failed!")
                    }
                }
            });
        }
    }

    const walletForm = document.getElementById("walletForm");
    walletForm.addEventListener("submit", addWallet);

</script>
<script>

    $(document).ready(function() {
        $('#walletTable').DataTable(
            {
                order: [
                    [
                        0, 'desc'
                    ]
                ]
            }
        );
    });

</script>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>